body {
  font-family: "Montserrat", sans-serif;
  color: aliceblue;
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.container {
  margin-top: 50px;
  margin-bottom: 50px;
  
}

.card {
  background-color:#395B64 ;
  background-origin: content-box;
padding: auto;
}

.btn-primary {
  background-color: 
  #A5C9CA;
  border: none;
}
.btn-primary:hover {
  background-color: #2C3333;
}
.container-fluid {
  padding: 0px;
}
#fotoCV {
  margin: auto;
}
footer {
  background-color: #b7d3df;
}


 div h2{
  text-shadow: #b7d3df 5px 5px 5px; 
 }

